<div style="height: 90vh; overflow-y: scroll;">
  <h1><%= @chat.name %></h1>

  <p>Current user: <%= Current.user.name %></p>

  <%= turbo_frame_tag 'messages' do %>
    <% @chat.messages.includes(:user).each do |msg| %>
      <%= render msg %>
    <% end %>
  <% end %>

  <article class="mt-5">
    <%= render 'messages/form', message: @message %>
  </article>
</div>